/* flex direction - row  
                  - row-reverse
                  - column
                  - column reverese
akan selalu menyesuasikan containernya kalau di bungkus dengan container*/

#container {
  background-color: black;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 5px black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#container div {
  width: 100px;
  height: 100px;
}
