h1 {
  text-align: center;
}

/* ini adalah contoh menggunkaan selector ganda / decendant selector*/

.joke p {
  color: aqua;
}

/* contoh direct decendant selector ( memilih selector setelah main selector */
.joke > p {
  color: red;
}

/* contoh adjdecent selector (memilih selector di sebelah selector yang akan kita pilih */

.joke button + p {
  color: green;
}

/* ini adalah contoh dari selector CSS yang lain yang( ingat jangan di spasi ya sesudah mengetikkan input */

input[type='text'] {
  color: rgb(207, 25, 140);
}
